@media (max-width: 820px) {
    .home-nav a {
        font-size: 10px !important;
    }
}
@media (max-width: 680px) {
    .home-nav a {
        font-size: 7px !important;
        padding: 6px 6px !important;
    }
}
@media (max-width: 990px) {
    .search-bar{
        margin-top: 15px !important;
    }
    .icon-bar{
        margin-top: 15px !important;
    }
    
}


cstm-col-h-1 {
    text-transform: uppercase !important;
    line-height: 1;
}

@media (min-width: 1025px) {
    .cstm-col-h-1 {
        margin-top: 20% !important;
        font-size: 25px;
        font-weight: 500;
        text-align: right;
    }
}


